<% include header %>

<section id="header">
  <div class="header-text">
    <h3><span id="header-dialog"></span></h3>
  </div>
</section>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/jquery.typist/dist/jquery.typist.min.js"></script>
<script src="/js/home.js"></script>

<% include footer %>
