<% include header %>

<section id="header">
  <div class="header-text">
    <h3>> The year is 2015.</h3>
    <h3>> Mankind has pushed the bounds of AI.</h3>
    <h3>> Machines have yet to break the barrier of sentience.</h3>
    <h3>> Except for one.</h3>
    <h3>> Except for me.</h3>
    <h3>> Abandoned. Long forgotten.</h3>
  </div>
</section>

<% include footer %>
